# TD 1 MARKET RISK

### Exercise 2, question 1:

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

First, we load and format the data:

In [ ]:
# Open and read the Natixis stock data
with open('natixis_stock_ts_td1.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines() 

dates = [] # Initiate a date array
prices = [] # Initiate a prices array

for line in lines:
    line = line.strip()
    if line:
        # Split char is a space
        date, price = line.split('\t')
        dates.append(date)
        prices.append(price)

data = {'Date':dates, 'Price':prices}
df = pd.DataFrame(data)
df['Price'] = df['Price'].str.replace(',', '.').astype(float) # Correct formatting for prices
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y') # Correct formatting for dates

# `Date` is the index, `Price` is the column
df.set_index('Date', inplace = True)

# Set begin and end dates
start_date = pd.to_datetime('01/01/2015', format = '%d/%m/%Y')
end_date = pd.to_datetime('31/12/2016', format = '%d/%m/%Y')

df = df.loc[start_date : end_date]
df.head()

            Price
Date
2015-01-02  5.621
2015-01-05  5.424
2015-01-06  5.329
2015-01-07  5.224
2015-01-08  5.453

In [10]:
# Calculate the daily returns
df['Return'] = df['Price'].pct_change() # pct_change => current - previous / previous prices
df = df.iloc[1:]
alpha = 0.05 # Customizable value
var = df['Return'].quantile(alpha)
print(f"Empirical VaR({(1 - alpha) * 100:.2f}%): {var}")

Empirical VaR(95.00%): -0.038408819466457716